.forecastIcon{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.forecastIcon > .icon{
    position: relative;
    width: 80%;
    top: 5%;
    transform: translate(-50%);
    left: 50%;

}

img{
    pointer-events: none;
}