.searchBar{
	position: absolute;
	top: 15%;
	left: 50%;
}

.searchBar > .searchInputs {
	height: 8vh;
	transform: translateX(-50%);
	position: relative;
	display: inline-block;
}

.searchBar > .searchInputs > input{
	float: left;
	height: 100%;
	width: 24vw;
	border-radius: 13px 0 0 13px;
	padding: 0.8vh;	
	padding-left: 25px;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	background: rgba(299, 299, 299, 0.2);
	color: rgb(60, 235, 185);
}

.searchBar > .searchInputs > input[type="text"]{
	font-size: 22px;
}

.searchBar > .searchInputs > input:focus{
	outline: none;
	border: none;
}

.searchBar > .searchInputs > input::placeholder{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: rgb(60, 235, 185);
}

.searchBar > .searchInputs > .searchButtons{
	float: right;
	display: flex;
	height: 100%;
	width: 6vw;
	padding: 0.8vh;
	border: 100px;
	align-items: center;
	align-self: flex-start;
	border-radius: 0 13px 13px 0;
	background: rgba(299, 299, 299, 0.2);
}

.searchBar > .searchInputs > .searchButtons > .gpsIcon{
	flex: 1;
	border: none;	
	height: min-content;
	color: rgb(59, 227, 180);

}

.searchBar > .searchInputs > .searchButtons > .gpsIcon:hover{
	color: rgb(20, 49, 212);
	cursor: pointer;
}

.searchBar > .searchInputs > .searchButtons > .gpsIcon:focus{
	outline: none;
	border: none;
}

.searchBar > .searchInputs > .searchButtons > .searchIcon{
	flex: 1;
	height: min-content;
	color: rgb(59, 227, 180);
}


.searchBar > .searchInputs > .searchButtons > .searchIcon:focus{
	outline: none;
	border: none;
}

.searchBar > .searchInputs > .searchButtons > .searchIcon:hover{
	color: rgb(20, 49, 212);
	cursor: pointer;
}
